---
title: Thesis | MANSION
component: ContentPage
---
p.
  Mansion is a stage. It’s a creative platform in which artists from various backgrounds
  can share their art, and perhaps more importantly, to share it freely. Mansion is a
  collective of dreamers, thinkers, and strivers who want to show the world what makes
  their hearts tingle. Just as the header says, Mansion believes in giving power to the
  artist – it should no longer be unreasonable for a child to want to become a musician,
  painter, or actor when they grow up. Art should be respected, should be payed for, and
  should be enjoyed!

p.
  Mansion is also a unique, collaborative free-for-all. It takes a cross-industrial approach
  to performance and ventures to incorporate different kinds of artists – musicians, digital
  artists, photographers – into its core. Mansion strives to integrate this approach in the
  live performances and parties that we throw. We are more than a group – we are a mish-mash
  of emotions.

p.
  The project was started recently by Christopher Johnson and Brady Gosh in
  Austin, TX. It’s rooted in a yearning for collaboration – a need for a creative group of people
  who are different in their goals, yet who are inspired. Mansion is open to all – if you are a
  creative, if you are looking to be inspired, or if you just want to have a good time and
  enjoy what it offers, come on in, there’s tons of room!
