---
name: DJ Gosh
picture: 'http://res.cloudinary.com/do5y2yeyu/image/upload/v1517878180/Brady_Gosh_home_image_and_hover_image_n1pvkt.jpg'
hover: 'http://res.cloudinary.com/do5y2yeyu/image/upload/v1517878180/Brady_Gosh_home_image_and_hover_image_n1pvkt.jpg'

insta: bradygosh
---
