---
name: DJ Gosh
picture: 'http://res.cloudinary.com/do5y2yeyu/image/upload/v1517878180/Brady_Gosh_home_image_and_hover_image_n1pvkt.jpg'
hover: 'http://res.cloudinary.com/do5y2yeyu/image/upload/v1517878180/Brady_Gosh_home_image_and_hover_image_n1pvkt.jpg'

insta: bradygosh
---
p.
  Grew up listening to Aphex Twin and was inspired by groups like The Prodigy and Crystal Method.
  Started making experimental/ambient music back in 2013.
p.
  Took it up seriously about a year ago and starting going to school for music production.
  Deep love for bass, house music, hip hop, and anything experimental.
