---
name: Guyjin
website: guyjin.co
picture: 'http://res.cloudinary.com/do5y2yeyu/image/upload/c_scale,w_900/v1517878185/Guyjin_home_image_and_hover_image_pvxyzv.jpg'
hover: 'http://res.cloudinary.com/do5y2yeyu/image/upload/c_scale,w_900/v1517878185/Guyjin_home_image_and_hover_image_pvxyzv.jpg'
---

img(src='http://res.cloudinary.com/do5y2yeyu/image/upload/c_scale,w_1100/v1517878182/Guyjin_Bio_nwozt7.gif'
    alt='A glitchy mac text editor window containing the text "function through form. stability through disruption. simplicity through complexity. utilitarian through obscurity. synchronicity through contradiction. photographer_designer_consultant guyjin guyjin.co"'
)