---
name: leviathan
picture: "https://res.cloudinary.com/do5y2yeyu/image/upload/v1507083987/22215273_10213597722927365_192242790_n_cu8sto.jpg"
hover: "https://res.cloudinary.com/do5y2yeyu/image/upload/v1507083987/22215273_10213597722927365_192242790_n_cu8sto.jpg"
---
p.
  Leviathan, or Levi Hefner, is an aspiring DJ and producer from Fort Worth, Texas. His musical
  training began when he picked up violin in 1st grade. Leviathan’s musical background began with
  classical music, however he quickly became infatuated with electronic dance music in junior high.
  In 8th grade, Leviathan began teaching himself how to DJ and produce music. Leviathan is currently
  a student at The University of Texas in Austin, and plans to major in Arts and Entertainment
  Technologies. Leviathan enjoys anything from chilling on the beach to headbanging to filthy dubstep.
  Stay tuned for upcoming releases!
