---
name: softandasleep
logo: "https://res.cloudinary.com/do5y2yeyu/image/upload/w_600/v1506829406/softandasleep_inybnq.png"
picture: "https://res.cloudinary.com/do5y2yeyu/image/upload/w_400/v1506829413/main_pic_jpq0yf.png"
hover: "https://res.cloudinary.com/do5y2yeyu/image/upload/v1507084507/little_sword_man_hover_image_zxuwlq.png"

fb: softandasleep
insta: softandasleep
mixcloud: softandasleep
soundcloud: softandasleep
youtube: channel/UCo9suE_qAMakhcd-Nfvr-fA
website: www.chrisisasleep.com
---
p.
  I’m into a lot of things. There are so many cool ideas and things out there. Like oranges –
  they’re so perfect and naturally round and saturated!!!

p.
  I’m not into things like school – it’s too much of a structured environment to allow for certain
  individuals to exercise their creative sides. That’s part of the reason why I created Mansion,
  to give a space for creatives to learn about stuff and collaborate with each other.

p.
  I love to see people dance to music. I love even more to see people dance to my own music. I love EVEN MORE to see people dance to Shooting Stars by Bag Raiders.
  Let’s all inspire each other and make some really cool stuff!
